.form-control {
	color: #616dbf;
}
.custom-file-label {
	margin-left: 12px;
    margin-right: 12px;
}
.custom-file {
	height: unset;
}
form label {
	color: #3f4047;
}
.btn-default {
	color: #3f4047;
	background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #3f4047;
    background-color: #e6e6e6;
    border-color: #adadad;
}
label.error, div.error {
    color: red;
    padding-left: 3px;
    width: max-content;
}
label.switch {
	margin-bottom: 0;
}
/* Start Toggle Button */
.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 30px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
 	background-color: #2196F3;
}
input:focus + .slider {
 	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}
.slider.round {
 	border-radius: 34px;
}

.slider.round:before {
 	border-radius: 50%;
}
/* End Toggle Button*/
.sweet-alert {
	outline: none;
}
.sweet-alert .btn-primary, .btn.delete-confirmation {
	box-shadow: none;
}
.table td {
	padding: 0.65rem;
}

/* Media Queries start*/
@media only screen and (min-width: 992px) {
	.container {
		padding-left: 2rem;
    	padding-right: 2rem;
	}
	.col-form-label {
		text-align: right;
	}
}